<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .barcodes {
        justify-content: center;
        display: block;
        background-color: #f2f2f2;
        width: 300px;
        height: 200px;
        margin: 50px auto;
      }
    </style>
  </head>
  <body>
    <div class="barcodes">
      <button id="myButton" onclick="changeText()">
        clue1
      </button>
      <br>
      <img src="/static/img/EgyptFLag.png" height="450" width="450" alt="" />
      <br />
      <br />

      <button id="myButton1" onclick="changeText1()">
        clue2
      </button>
      <br>

      <img
        src="/static/img/linkedinrupesh.png"
        height="450"
        width="450"
        alt=""
      />
      <br />
      <br />
      <button id="myButton2" onclick="changeText2()">
        clue3
      </button>

      <img src="/static/img/instgram.png" height="450" width="450" alt="" />
   
      <button id="myButton3" onclick="changeText3()">
        clue4
      </button>
      <br />
      <br />
      <img src="/static/img/twitter.png" height="450" width="450" alt="" />

      

      <br />
      <br />

      <button id="myButton4" onclick="changeText4()">
        clue5
      </button>
      <img src="/static/img/tomcruise.png" height="450" width="450" alt="" />

      <br />
      <br />

      <button id="myButton5" onclick="changeText5()">
        clue6
      </button>
      <br>
      <img src="/static/img/apple.png" height="450" width="450" alt="" />

      <br />
      <br />

      <h2>Finally merge all the first letters of word you first thought of when the site was opened and reverse it</h2>
    </div>

    
    <br />
    <br />
    

    <script>
      function changeText() {
        document.getElementById("myButton").innerHTML =
          "observe it carefully!!";
      }

      function changeText1() {
        document.getElementById("myButton1").innerHTML =
          "Be proactive!!";
      }

      function changeText2() {
        document.getElementById("myButton2").innerHTML =
          "Think and observe!!";
      }

      function changeText3() {
        document.getElementById("myButton3").innerHTML =
          "Think and observe!!";
      }
      function changeText4() {
        document.getElementById("myButton4").innerHTML =
          "Think and observe!!";
      }
      function changeText5() {
        document.getElementById("myButton5").innerHTML =
          "Think and observe!!";
      }

    
    </script>
   
  </body>
</html>
